[submodule "nestjs"]
	path = third_party/nestjs
	url = git://github.com/echonest/nestjs.git
[submodule "SoundManager2"]
	path = third_party/SoundManager2
	url = git://github.com/scottschiller/SoundManager2.git
