
body {
  padding:0;
  margin:0;
  background-color:#000;
}

#echollage {
  background-image:url(backdrop.png);
  background-repeat:no-repeat;
  background-position:center;
  height:800px;
  width:1200px;
  margin:0 auto;
}

#echollage ul {
  list-style:none;
  display:-webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack:justify;
  padding:0px;
  margin:0px;
}

#echollage li {
  -webkit-box-flex:1;
  width:200px;
  height:200px;
  margin:0;
  padding:0;
  position:relative;
  display:block;
  float:left;
}

div.button {
  background-repeat:no-repeat;
  background-position:center;
  visibility:hidden;
  position:absolute;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  height:100px;
  width:100px;
}

#echollage li:hover div.button {
  visibility:visible;
}

div.button:hover {
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

div.play {
  background-image:url(play.png);
  left:0%;
  top:50%;
}

div.star {
  background-image:url(star.png);
  left:50%;
  top:50%;
}
