
body {
  padding:0;
  margin:0 auto;
  background-color:#080808;
  color:white;
  font-family:helvetica, arial, sans-serif;
  font-size:12px;
  font-style:bold;
}

#echollage {
  background-image:url(/static/images/backdrop.png);
  background-repeat:no-repeat;
  background-position:center;
  background-color:black;
  height:800px;
  width:1200px;
  overflow:hidden;
  margin:0 auto;
}

#echollage ul {
  list-style:none;
  display:-webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack:justify;
  padding:0px;
  margin:0px;
}

#echollage li {
  -webkit-box-flex:1;
  width:200px;
  height:200px;
  margin:0;
  padding:0;
  position:relative;
  display:block;
  float:left;
}

#echollage img {
  width:200px;
  height:200px;
  padding:0;
  margin:0;
}

#echollage div.overlay {
  z-index:2;
  visibility:hidden;
  position:absolute;
  filter:alpha(opacity=20);
  -moz-opacity:0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}

#echollage li:hover div.overlay {
  visibility:visible;
}

#echollage div.play:hover {
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

#echollage div.track-info:hover {
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

#echollage div.play {
  background-repeat:no-repeat;
  background-position:center;
  background-image:url(/static/images/play.png);
  left:0%;
  bottom:0%;
  height:50px;
  width:200px;
}

#echollage div.play.playing {
  background-image:url(/static/images/pause.png);
}

#echollage div.border {
  z-index:1;
  visibility:hidden;
  position:absolute;
  background-repeat:no-repeat;
  background-image:url(/static/images/black_border.png);
  left:-50px;
  top:-50px;
  width:300px;
  height:300px;
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

#echollage div.artist_entry {
  position:absolute;
  margin-left:390px;
  margin-top:100px;
  font-size:20px;
  color: #A1A5BA;
}

#echollage input {
  background-color:#111;
  border-color: #FFF;
  margin-left:10px;
  color:white;
  height:35px;
  width:530px;
  padding-left:5px;
  font-size:20px;
}

#echollage input:focus {
  outline: none;
  border-color: #61C5FA;
}

#echollage div.track-info {
  background-color:black;
  width:200px;
  left:0%;
  top:0%;
  padding-bottom:10px;
}

#echollage p {
  margin:0;
  padding-left:5px;
  padding-top:5px;
  padding-bottom:0px;
}
